#header_carousel{
    background-color: rgb(227, 227, 227);
}
#header_carousel img{
  width: 100%;
  height: 600px;
  object-fit:contain;
}


#feature{
    background-color: rgb(105, 111, 113);
}

.nav-link:click{
    font-weight: bold;
}
#shop_by_category img{
    object-fit:contain;
    height: 340px;
}





/* product page */
#productpage_category li:hover{
    cursor: pointer;
    background-color: rgb(114, 137, 137);
    color: white;
    text-align: center;
}



